/* Write your code here. */
* {
  font-family: "Roboto";
}
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.congrats {
  color: #0f172a;
  font-size: 25px;
}
.card {
  background-color: #cffafe;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 50px;
}
@media and (min-width: 768px) {
  .congrats {
    color: #0f172a;
    font-size: 20px;
  }
  .card {
    background-color: #cffafe;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 70px;
  }
}
